*{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5{
	font-family: 'Josefin Sans', sans-serif;
}
body{
	font-family: 'Open Sans', sans-serif;
}
/* header section start*/
header{
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    overflow-y: auto;
}
nav{
	margin-top:8rem;
}
.nav-menu{
	padding:0;
}
nav ul li a{
	text-decoration:none;
	line-height:5px;
}
ul {
    padding-left: 0 !important;
}
nav iconify-icon{
	color: #45505b;
    background: #f2f3f5;
    font-size: 1.8rem;
    margin-left: 10px;
    border-radius: 50px;
    text-align: center;
    width: 56px;
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
nav li{
	position:relative;
}
.nav-menu iconify-icon:hover{
	color: #fff;
    background: #7395ae;
}	

/* benner section */

/*---------*/

.banner{
	background-image:url("../img/homepage1.jpg");
	width:100%;
	background-size:cover;
	position:relative;
}
.banner::after{
	content:"";
	background-color:rgba(13,30,45,0.6);
	opacity:1;
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.banner-title{
	z-index:997;
	position:relative;
	padding:14rem 0;
	margin:0;
	margin-right:0!important;
}
.banner-title h1{
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  margin-top:2rem;
}
.banner-title p {
  font-size:2rem;
  color: #fff;
  margin-bottom:1rem;
  line-height:2.5rem;
}
#home .moon {
	margin-top:13rem;
	font-size: 24px;
    display: inline-block;
    line-height: 1;
    margin-right: 0px;
    transition: 0.3s;
	position:absolute;
	top:17rem;
	left:0;
	right:0;
	margin-bottom:10rem;
}
.moon iconify-icon{
	padding-left:0.3rem;
	color:#fff;
}
@media(min-width:768px){
.banner-title h1{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 0rem;
}
.banner-title p {
  font-size:2rem;
  color: #fff;
  margin-bottom:1rem;
  line-height:2.5rem;
}
#home .moon {
	margin-top:13rem;
	font-size: 24px;
    display: inline-block;
    line-height: 1;
    margin-right: 0px;
    transition: 0.3s;
	position:absolute;
	top:8rem;
	left:0;
	right:0;
	margin-bottom:10rem;
}
}
@media(min-width:1024px){
.banner-title{
	left:40px;
	margin-right:0;
}
.banner-title h1{
    color: #fff;
    font-size: 3.4rem;
    font-weight: 900;
    margin-top: 0rem;
}
.banner-title p {
  font-size:2rem;
  color: #fff;
  margin-bottom:1rem;
  line-height:2.5rem;
}
#home .moon {
	margin-top:13rem;
	font-size: 24px;
    display: inline-block;
    line-height: 1;
    margin-right: 0;
    transition: 0.3s;
	position:absolute;
	top:9rem;
	left:1rem;
	right:0;
}
}
/* About section start  */
main{
	margin-top:3.4rem;
}
#about{
	padding-bottom:2rem;
}
#about h4{
	font-size:2rem;
	position:relative;
}
#about p{
	font-size:1rem;
	font-weight:600;
}
#about span{
	margin-left:4rem;
}
.moon ul li{
	font-size:1rem;
	font-weight:600;
}
@media(min-width:1024px){
.moon ul li{
	font-size:1.4rem;
	font-weight:600;
}
#about p{
	font-size:1.4rem;
	font-weight:600;
}
}
.borde::after{
	content:"";
	position:absolute;
	display:block;
	width:60px;
	height:2px;
	background:#7395ae;
	top:2.5rem;
	bottom:0;
	left: calc(50% - 30px);
}
@media(min-width:768px){
.borde::after{
	content:"";
	position:absolute;
	display:block;
	width:60px;
	height:2px;
	background:#7395ae;
	top:2.5rem;
	bottom:0;
	left:calc(50% - 30px)
}
}
@media(min-width:1024px){
.borde::after{
	content:"";
	position:absolute;
	display:block;
	width:60px;
	height:2px;
	background:#7395ae;
	top:2.5rem;
	bottom:0;
	left:calc(50% - 30px)
}
}
/*   education start  */
#education{
	padding: 1.5rem 1rem;
	background-color:#e9e8e6;
}
#education h3{
	width: 120px;
    border-radius: 30px 10px;
    background: #7395ae;
	color:white;
    padding: 10px;
	font-size:1rem;
	text-align:center;
}
#education h4{
	font-size:2.3rem;
	font-weight:600;
	position:relative;
}
#education ul li{
	font-size:1.6rem;
	font-weight:600;
}
.btn{
	height:40px;
	background-color:#557a95 !important;
	color:white !important;
}
.btn:hover{
	background-color:#77aed7!important;
	cursor:pointer;
}
.node{
	cursor:pointer;
}
.node:hover{
	box-shadow:0px 0px 5px 10px #cfcbcb;
}
#skill{
	padding: 2rem 0;
}
#skill h4{
	font-size:2rem;
	font-weight:600;
	letter-spacing:2px;
	position:relative;
}
#skill label{
	font-size:1.2rem;
	font-weight:600;
}
.nullo{
	background:#7395ae;
}
#project{
	padding-bottom:2rem;
	margin-top: 45px;
}
#project h4{
	font-size:2rem;
	font-weight:600;
	letter-spacing:2px;
	position:relative;
}
@media(min-width:768px){
.sec{
	margin-top: 48px;
}
}
@media(min-width:992px){
.sec{
	margin-top:0;
}
}
.edit:hover{
	box-shadow:0 0 5px 2px #a79e9e;
    transform: ease all 0.5s;
    transform: translatey(-3px);
    margin-top: -15px;
}
.edit img{
	width:40rem;
}
#contect{
	padding-bottom:2rem;
}
#contect h4{
	font-size:2rem;
	font-weight:600;
	letter-spacing:2px;
	position:relative;
}
#contect iconify-icon{
    width:44px;
	height:44px;
	color: #fff;
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#7395ae;
	border-radius:50%;
	font-size:1.4rem;
}
footer p,span{
	font-size:1.3rem;
}
.boln{
	padding:20px 0;
}
.noln{
	margin-top:20px;
}
@media(min-width:320px){
header{
		display:none;
	}
}
@media(min-width:1024px){
header{
		display:inline;
	}
}